<section id="ourapp" class="section-three">
	<div class="visible-lg row">
		<div class="col-lg-5 left-section-2">
			<div id="img_driver">
				<%= image_tag("iphone_driver_mode.png", id: "section3_iphone_driver") %>
			</div>
			<div class="section2-pass-text">
				<p>
					Look for a driver on the Alfred map. Simply enter your starting point and destination and request a ride. Alfred will match you with a driver going towards or past your destination .You will just instantly join other users already heading in the same direction. It’s as simple as hitchhiking, cheaper than public transport and fun to meet new friends!
				</p>
			</div>
			<div id="img_message">
				<%= image_tag("iphone_message_board.png", id: "section3_iphone_message") %>
			</div>
		</div>
		<div class="col-lg-2">
			<div id="img_driver_mode"><%= image_tag("icon_driver_mode.png", id: "section3_icon_driver")%></div>
			<div id="img_road_03"><%= image_tag("road_03.png")%></div>
			<div id="img_passenger"><%= image_tag("icon_passenger_mode.png")%></div>
			<div id="img_road_04"><%= image_tag("road_04.png")%></div>
			<div id="img_message_board"><%= image_tag("icon_message_board.png")%></div>
			<div id="img_road_05"><%= image_tag("road_05.png")%></div>
			<div id="img_road_arrow"><%= image_tag("road_arrow.png")%></div>
		</div>
		<div class="col-lg-5 right-section-2">
			<div class="section2-driver-text">
				<p>
					Just simply switch on the driver mode and advertise your journey on the Alfred map. You will become visible to fellow users and you might receive a push up notification from someone who wants to travel with you. Simply advertise the number of seats available in your car, price per seat and your destination. Remember that no profit is allowed and you can only share your costs!
				</p>
			</div>
			<div id="img_passenger_mode">
				<%= image_tag("iphone_passenger_mode.png", id: "section3_iphone_passenger") %>
			</div>
			<div class="section2-message-text">
				<p>
					If you are travelling in the next few days or even the next few hours, why not use the Alfred message board for advertising or requesting journeys such as an airport transfer. Generally this feature is used for booking your journeys in advance.
				</p>
			</div>
		</div>
	</div>
	<div class="hidden-lg section-three-mobile">
		<div class="row text-center div-drive-mode">
			<div class="row">
				<div id="section_three_mobile_arrow_left" class="col-md-5 col-sm-5 col-xs-5 text-right">
					<%= image_tag("mobile/arrow_left.png", :class => "icon-arrow-left")%>
				</div>
				<div id="section_three_mobile_icon_driver" class="col-md-2 col-sm-2 col-xs-2">
					<%= image_tag("mobile/icon_driver.png", :class => "icon_driver")%>
				</div>
				<div id="section_three_mobile_arrow_right" class="col-md-5 col-sm-5 col-xs-5 text-left">
					<%= image_tag("mobile/arrow_right.png", :class => "icon-arrow-right")%>
				</div>
			</div>
		</div>
		<div class="row div-driver-text">
			<div class="col-md-4 col-sm-4 col-xs-4">
				<div id="section_three_mobile_iphone"><%= image_tag("mobile/iphone_driver.png", :class => "img-iphone")%></div>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<p id="section_three_mobile_p">
					Just simply switch on the driver mode and advertise your journey on the Alfred map. You will become visible to fellow users and you might receive a push up notification from someone who wants to travel with you. Simply advertise the number of seats available in your car, price per seat and your destination. Remember that no profit is allowed and you can only share your costs!
				</p>
			</div>
		</div>
		<div class="row text-center">
			<div class="section-three-mobile-road3">
				<%= image_tag("mobile/road_03.png", :class => "img-road-03") %>
			</div>
		</div>
	</div>
</section>
