.wrapper{style:"background-color:#32AEBA;color:white;padding-top:150px;"}
  .container
    %h2 Privacy Policy
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        Alfred ridesharing limited (company
        number 09326596), ("We", "us", "our") operates the mobile application called
        %b ALFRED
        ("ALFRED") and the website
        = succeed "." do
          %a{:href => "www.alfredridesharing.com"} www.alfredridesharing.com
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        This policy sets out the basis on which any personal data we collect from you ("you"), or that you provide to us, will be processed by us.
        Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        For the purpose of the
        = succeed "," do
          %a{:href => "http://www.legislation.gov.uk/ukpga/1998/29/contents"}
            Data Protection Act 1998 (the "Act")
        the data controller is Alfred ridesharing limited, company number 09326596. The Act sets out a number of important principles that organisations must apply when processing personal data.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"}
          1. INFORMATION WE MAY COLLECT FROM YOU
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        We may collect and process some data and information about you that you provide to us on the telephone, on our website (www.alfredridesharing.com) ("our site") or on our mobile application ("our app"). This includes information provided at the time of using our services or for any other reason if you need to make a complaint or report a problem with our site or our app.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        If you
        = succeed "," do
          %a{:href => "mailto:info@alfredridesharing.com"} contact us
        we may keep a record of that correspondence. If you contact us by telephone, your telephone call may be recorded.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        We may collect details of journeys you book through our app. By using our site and our app , you are consenting to the collection, use, and disclosure of that information about you in accordance with, and are agreeing to be bound by, this Privacy Policy .
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        We may collect and process the following personal information or data (information that can be uniquely identified with you) about you:
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-indent:-.25in"}
      %ul
        %li Certain information required to register with the app or to access other services provided by us, including your name, address, date of birth and if you are a Driver certain information about your vehicle , insurance , driving licence etc.;
        %li Your e-mail address and a password;
        %li A mobile phone number;
        %li A record of any correspondence between you and us;
        %li A record of any bookings you have made or advertisements you have placed with or through the app;
        %li Your reviews or ratings of other users;
        %li Details of financial transactions including transactions carried out through the app or otherwise. This may include information such as your credit card, debit card or bank account details, details of journeys (as described in our Conditions) you have booked or offered through the app;
        %li Details of your visits to the our site or our app and the resources that you access;
        %li Information we may require from you when you report a problem with the app or the site.
        %li Information is also gathered without you actively providing it, through the use of various technologies and methods such as Internet Protocol (IP) addresses, cookies, and geolocation.


    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"}
          2. IP ADDRESSES AND DEVICE INFORMATION
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        We may collect information about your computer, including where available your IP address, operating system and browser type, for system administration and to report aggregate information to our advertisers. This is statistical data about our users" browsing actions and patterns, and does not identify any individual. We may also collect information about your mobile telephone or handheld device ("Device") or any computer you may use to download or stream a copy of our app onto your Device, including, where available the Device's or Computer's unique Devise identifiers, operating system, browser type and mobile network information as well as the Device's telephone number, for system administration.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        When you use our location-enabled services, we may collect and process information about your actual location.
        Some of our services require your personal data for the feature to work.
        If you wish to use a particular feature, you will be asked to consent to your data being used for this purpose in accordance with our
        = succeed "" do
          %span{:style => "background: red"} terms & conditions.
        %span
          Your consent can be withdrawn at any time by switching off the location-based services on your Device.
          If you require further details of how we use location based services, you can request such information by contacting us at
          %a{:href => "info@alfredridesharing.com"} info@alfredridesharing.com
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"} 3. COOKIES
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        Our site uses cookies to distinguish you from other users of our site.
        This helps us to provide you with a good experience when you browse our site and also allows us to improve our site.
        A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree.
        Cookies contain information that is transferred to your computer"s hard drive. You can block cookies by activating the setting on your browser that allows you to refuse the setting of some or all of the cookies.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"}
          4. USES MADE OF THE INFORMATION and DATA
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        We use information and data held about you in the following ways:
    %p.MsoNoSpacing{:style => "margin-left:.5in;text-indent:-.25in"}
      %ul
        %li to carry out our obligations arising from any journey booked by you through our app;
        %li to ensure that content from our site and our app is presented in the most effective manner for you and for your computer;
        %li to provide you with information and services  that you request from us or which we feel may interest you, where (if required to do so) you have consented to be contacted for such purposes;
        %li to allow you to use our service;
        %li to notify you about changes to our service;
        %li
          Collect payments from you through our payment processor called
          = succeed "." do
            %a{:href => "https://stripe.com/gb/terms"} stripe

    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        We may also use your data, or permit  selected third parties to use your data, to provide you with information about goods and services which may be of interest to you and we or permitted third parties may contact you about these by post, email or telephone.
        If you do not want us to use your data in this way, or to pass your details on to third parties for marketing purposes, please let us know by contacting
        = succeed "." do
          %a{:href => "file:///C:\\Users\\Eric\\Desktop\\info@alfredridesharing.com"} info@alfredridesharing.com
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"} 5. DISCLOSURE OF YOUR INFORMATION
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"} "
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        We may disclose your personal
        information to any member of our company and its subsidiaries, as defined in
        section 1159 of the UK Companies Act 2006.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        We may disclose your personal
        information to third parties:
    %ul
      %li As part of our service, you information and data may be passed to a Passenger (if you are a Driver) or to a Driver (if you are a Passenger);
      %li if we are under a duty to disclose or share your personal data in order to comply with any legal obligation;
      %li
        in order to enforce or apply our
        = succeed ";" do
          %span{:style => "background:red"} terms&conditions
      %li to protect the rights, property, or safety of Alfred ridesharing Limited, our customers, or others;
      %li
        to
        = succeed "," do
          %a{:href => "https://stripe.com/gb/terms"} stripe
          our payment processor, in order to collect payments from you.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        This includes exchanging information
        with other companies and organisations for the purposes of fraud protection and
        credit risk reduction.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"} 6. WHERE WE STORE YOUR PERSONAL DATA
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area ("EEA").
        It may also be processed by staff operating outside the EEA who works for us.
        Such staff may be engaged in, among other things, the fulfilment of your order, the processing of your payment details and the provision of support services.
        By submitting your personal data, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        All information you provide to us is stored on our secure servers. Any payment transactions will be processed by
        = succeed "." do
          %a{:href => "https://stripe.com/gb/terms"} stripe
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        "Unfortunately, the transmission of
        information via the internet is not completely secure. Although we will do our
        best to protect your personal data, we cannot guarantee the security of your
        data transmitted to our app; any transmission is at your own risk. Once we have
        received your information, we will use strict procedures and security features
        to try to prevent unauthorised access.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"} 7. YOUR RIGHTS
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        You have the right to ask us not to
        process your personal data for marketing purposes. You can exercise that right
        at any time by contacting us at
        = succeed "." do
          %a{:href => "file:///C:\\Users\\Eric\\Desktop\\info@alfredridesharing.com"} info@alfredridesharing.com
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        Our site and app may, from time to time, contain links to and from websites of our partner networks, advertisers and affiliates.
        If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"} 8. ACCESS TO INFORMATION
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        The Data Protection Act 1998 gives you
        the
        %a{:href => "http://www.legislation.gov.uk/ukpga/1998/29/section/7"}
          right to
          access information
        held about you. Your right of access can be exercised in
        accordance with the Act. Any access request may be subject to a fee of 10 to
        meet our costs in providing you with details of the information we hold about
        you.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"} 9. CHANGES TO OUR PRIVACY POLICY
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        Any changes we may make to our privacy policy in the future will be posted on this page.
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}  
    %p.MsoNoSpacing
      %b
        %span{:lang => "EN-GB"} 10. CONTACT
    %p.MsoNoSpacing
      %span{:lang => "EN-GB"}
        Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to
        = succeed "." do
          %a{:href => "file:///C:\\Users\\Eric\\Desktop\\info@alfredridesharing.com"} info@alfredridesharing.com

:css
  @font-face
   {font-family:Wingdings;
   panose-1:5 0 0 0 0 0 0 0 0 0;}
  @font-face
   {font-family:"Cambria Math";
   panose-1:2 4 5 3 5 4 6 3 2 4;}
  @font-face
   {font-family:Calibri;
   panose-1:2 15 5 2 2 2 4 3 2 4;}
  /* Style Definitions */
  p.MsoNormal, li.MsoNormal, div.MsoNormal
   {margin-top:0in;
   margin-right:0in;
   margin-bottom:10.0pt;
   margin-left:0in;
   line-height:115%;
   font-size:11.0pt;
   font-family:"Calibri","sans-serif";}
  a:link, span.MsoHyperlink
   {color:blue;
   text-decoration:underline;}
  a:visited, span.MsoHyperlinkFollowed
   {color:purple;
   text-decoration:underline;}
  p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing
   {margin:0in;
   margin-bottom:.0001pt;
   font-size:11.0pt;
   font-family:"Calibri","sans-serif";}
  .MsoChpDefault
   {font-family:"Calibri","sans-serif";}
  .MsoPapDefault
   {margin-bottom:10.0pt;
   line-height:115%;}
  @page WordSection1
   {size:595.3pt 841.9pt;
   margin:1.0in 1.0in 42.55pt 1.0in;}
  div.WordSection1
   {page:WordSection1;}
  /* List Definitions */
  ol
   {margin-bottom:0in;}
  ul
   {margin-bottom:0in;}
